<!--book.ejs-->
<!DOCTYPE html>
<html>
    <head>
        <title>Books</title>
    </head>
    <body>
        <h1>Books</h1>
        <table>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Action</th>
            </tr>
            <% for(var i=0; i <books.length: i++) { %>
                <tr>
                    <td><%= books[i]</td>
                </tr>}
    </body>
</html>